* {
  font-family: "Rubik", sans-serif;
  font-size: 2vh;
  margin: 0;
  padding: 0;
  background: #1d1b22;
  background-color: #1d1b22;
  color: snow;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h1 {
  font-size: 5vh;
  margin-top: 5px;
  margin-bottom: 2vh;
  text-align: center;
}

h2 {
  font-size: 3vh;
  text-align: center;
}

ul {
  border-radius: 1vh;
  border: 0.5vh solid #ccc;
  box-sizing: border-box;
  font-weight: bolder;
  min-height: 50vh;
  max-height: 50vh;
  min-width: 98vw;
}

ul li {
  border-radius: 1vh;
  border: 0.5vh solid #ccc;
  box-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 1vh;
  transition: transform 0.3s ease-in-out;
}

#description,
#taskName {
  font-size: 3vh;
}

#list-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

#todo-list-complete {
  display: none;
}

.btn {
  background-color: #4c76a3;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2.5vh;
  margin-bottom: 1%;
  margin-top: 1%;
  min-width: 18%;
  padding: 1vh;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #042d58;
}

.complete-btn {
  background-color: #3f9743;
}

.complete-btn:hover {
  background-color: #256328;
}

.complete-btn,
.delete-btn,
.undo-btn {
  font-size: 1.5vh;
  margin: 1vh auto 1vh;
  padding: 1vh 2vh;
  min-width: 10%;
  transition: background-color 0.3s ease;
}

.undo-btn {
  background-color: #41403b;
}

.undo-btn:hover {
  background-color: #585853;
}

.delete-btn {
  background-color: #9c3640;
}

.delete-btn:hover {
  background-color: #8f0715;
}

.listTaskDescription {
  font-size: 1.5vh;
  font-weight: lighter;
  margin: 1vh auto;
  max-width: 95%;
  text-align: justify;
  word-wrap: break-word;
}

.listTaskName {
  font-size: 2.2vh;
  font-weight: bolder;
  margin: auto;
  max-width: 66%;
  word-wrap: break-word;
}

.todo-input {
  border-radius: 1vh;
  border: 0.5vh solid #ccc;
  box-sizing: border-box;
  font-size: 2vh;
  margin: 1vh 0;
  padding: 1vh;
  width: 30vw;
  background-color: #1c2127;
}

.todo-list {
  border: 0.1rem solid;
  min-height: 50vh;
  max-width: 100vw;
  overflow-y: scroll;
  padding: 1vh;
  background-color: #1c2127;
}

.todo-list-container {
  text-align: center;
}

li {
  animation: bounce 0.3s ease 2 alternate;
}

li:hover,
button:hover,
input:hover,
.switch:hover {
  animation: grab 0.5s ease-in-out forwards;
}

@keyframes grab {
  0% {
    transform: translateY(0) scale(0.999);
  }
  50% {
    transform: translateY(-2px) scale(1.009);
  }
  100% {
    transform: translateY(-2px) scale(1);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-3px);
  }
}

.toggle-container {
  text-align: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 2vh;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a0592a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(35, 30, 44);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #3a9450;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffffff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.custom-swal-popup {
  font-family: "Rubik", sans-serif;
  font-size: 2vh;
  background-color: #1d1b22;
  color: snow;
  border-radius: 1vh;
}

.custom-swal-title {
  font-size: 5vh;
  margin-top: 5px;
  margin-bottom: 2vh;
  text-align: center;
}

.custom-swal-content {
  font-size: 3vh;
  text-align: center;
}

.custom-swal-confirm-button {
  background-color: #4c76a3;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2.5vh;
  margin-bottom: 1%;
  margin-top: 1%;
  min-width: 18%;
  padding: 1vh;
  transition: background-color 0.3s ease;
}

.custom-swal-confirm-button:hover {
  background-color: #042d58;
}
